/*
 * Lamenu documentation for Staffs
 * Lamenu documentation for Staffs
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package org.openapitools.client.api;

import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import org.openapitools.client.model.LoginResponse;
import org.openapitools.client.model.StaffDto;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class AuthApi {
    private ApiClient localVarApiClient;

    public AuthApi() {
        this(Configuration.getDefaultApiClient());
    }

    public AuthApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for staffAuthPost
     * @param staffDto This object must contain only deviceUuid:unique and phone (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call staffAuthPostCall(StaffDto staffDto, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = staffDto;

        // create path and map variables
        String localVarPath = "/staff/auth";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call staffAuthPostValidateBeforeCall(StaffDto staffDto, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'staffDto' is set
        if (staffDto == null) {
            throw new ApiException("Missing the required parameter 'staffDto' when calling staffAuthPost(Async)");
        }
        

        okhttp3.Call localVarCall = staffAuthPostCall(staffDto, _callback);
        return localVarCall;

    }

    /**
     * 
     * Via this endpoint you can get auth token
     * @param staffDto This object must contain only deviceUuid:unique and phone (required)
     * @return List&lt;LoginResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public List<LoginResponse> staffAuthPost(StaffDto staffDto) throws ApiException {
        ApiResponse<List<LoginResponse>> localVarResp = staffAuthPostWithHttpInfo(staffDto);
        return localVarResp.getData();
    }

    /**
     * 
     * Via this endpoint you can get auth token
     * @param staffDto This object must contain only deviceUuid:unique and phone (required)
     * @return ApiResponse&lt;List&lt;LoginResponse&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<List<LoginResponse>> staffAuthPostWithHttpInfo(StaffDto staffDto) throws ApiException {
        okhttp3.Call localVarCall = staffAuthPostValidateBeforeCall(staffDto, null);
        Type localVarReturnType = new TypeToken<List<LoginResponse>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Via this endpoint you can get auth token
     * @param staffDto This object must contain only deviceUuid:unique and phone (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call staffAuthPostAsync(StaffDto staffDto, final ApiCallback<List<LoginResponse>> _callback) throws ApiException {

        okhttp3.Call localVarCall = staffAuthPostValidateBeforeCall(staffDto, _callback);
        Type localVarReturnType = new TypeToken<List<LoginResponse>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
